@tailwind base;
@tailwind components;
@tailwind utilities;

/* Arabic font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #020617; /* slate-950 */
}

.font-arabic {
  font-family: 'Cairo', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}
